@model Model.Dbbc
@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var splits = @Model.Description.Split(':');
    var name = splits[0];
    var description = splits[1];
}

<h1>@name</h1>

<div class="card">
    <div class="pretty-card">
        <div class="pretty-column"></div>
        <div class="pretty-card-text">
            <img 
                 alt="ToSalute"
                 src="~/images/ToSalute.jpg"
                 class="course-image"
            />
            <div class="course-description">
                <div class="pretty-text teacher">
                    @Model.Teacher.UserName @Model.Teacher.Surname
                </div>
                <span class="pretty-text start-date">
                    <strong>Start date</strong>: @Model.StartDate.GetDateTimeFormats()[0]
                </span>
                <span class="pretty-text end-date">
                    <strong>End date</strong>: @Model.EndDate.GetValueOrDefault().GetDateTimeFormats()[0]
                </span>
                <br />
                <br />
                <br />
                <br />
                <div class="pretty-text number-of-seats">
                    Number of seats: @Model.NumberOfSeats
                </div>
                <span class="pretty-text number-of-used-seats">
                    Number of used seats: @Model.NumberSetsUsed
                </span>
                <hr />
                <div class="pretty-text description-text">
                    @description
                </div>
                <br />
                <div class="button-align-right">
                    <form asp-controller="DBBC" asp-action="Subscribe" asp-route-dbbcId="@Model.Id">
                        <button class="btn btn-success" onclick="onSubscribe()">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>